.pokemon-details {
  margin: auto;
  width: 85%;
}

.pokemon-details h2 {
  margin: 20px 0 0;
}

.pokemon-summary p {
  margin: 5px;
}

.pokemon-locations h2 {
  margin: 20px 0;
}

.pokemon-habitat {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.location {
  margin: 0 0 20px;
}

.location img {
  max-width: 192px;
}

.favorite-form {
  margin: 20px;
  font-weight: 700;
}

.favorite-form input {
  margin: 0 0 0 10px;
}
